<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>
        Besser Sterben - eine Testfahrt mit dem Tod
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        Besser Sterben - eine Testfahrt mit dem Tod
    </h1>
    <div id="page">
        <p>Willkommen bei Besser Sterben - eine Testfahrt mit dem Tod
        </p>
        <div id="message">Bitte gestatten Sie der Website die Benutzung der Kamera und scannen Sie den QR-Code auf Ihrem Ticket, um zu starten.
        </div>
        <div id="responseMessage"></div>
    </div>
    <div id="qr-scanner">
        <div>
            <video id="qr-video"></video><br>
        </div>
    </div>
    <div id="bbb-frame"></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="module" src="javascripts/onboarding.js"></script>

</body>

</html>