body {
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    background-attachment: fixed;
    font-weight: 400;
}

h2 {
    font-family: neue-haas-grotesk-display;
    font-weight: 400;
}

.btn-circle {
    border-radius: 50%;
}

#help-toggle {
    position: fixed;
    bottom: 5vh;
    left: 5vh;
}

#help {
    display: flex;
    flex-flow: column;
    height: 100vh;
    width: 20vw;
    position: fixed;
    left: -20vw;
    top: 0;
}

#help-close {
    width: 5vw;
    cursor: pointer;
}

/* level 0 */

#qr-scanner {
    position: relative;
}

#line-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

/* level 1 */

#bbb-frame {
    width: 100%;
}

.frame-1 {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.frame-2 {
    height: 100vh;
}

#page {
    margin-top: 50px;
}

#vimeo-wrapper,
#vimeo-wrapper-2 {
    height: 100vh !important;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
}

#vimeo-wrapper-wrapper,
#vimeo-wrapper-wrapper-2 {
    display: none;
}

#hide-pip,
#cover {
    height: 100vh !important;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

#cover {
    background-color: black;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

#startJourneyTogether {
    display: none;
}

#help-scroller {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
}

#help-header {
    flex: 0 1 auto;
}

/******** fireworks **********/

#fireworks {
    display: none;
    height: 50vh;
    width: 50vw;
    color: white !important;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

/* Main styles */
.text {
    fill: none;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-dasharray: 70 330;
    stroke-dashoffset: 0;
    -webkit-animation: stroke 6s infinite linear;
    animation: stroke 6s infinite linear;
}

.text:nth-child(5n + 1) {
    stroke: #f2385a;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
}

.text:nth-child(5n + 2) {
    stroke: #f5a503;
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s;
}

.text:nth-child(5n + 3) {
    stroke: #e9f1df;
    -webkit-animation-delay: -3.6s;
    animation-delay: -3.6s;
}

.text:nth-child(5n + 4) {
    stroke: #56d9cd;
    -webkit-animation-delay: -4.8s;
    animation-delay: -4.8s;
}

.text:nth-child(5n + 5) {
    stroke: #3aa1bf;
    -webkit-animation-delay: -6s;
    animation-delay: -6s;
}

@-webkit-keyframes stroke {
    100% {
        stroke-dashoffset: -400;
    }
}

@keyframes stroke {
    100% {
        stroke-dashoffset: -400;
    }
}

/* Other styles */
#sum {
    font: 10em xants, Impact;
    text-transform: uppercase;
    margin: 0;
}

#fireworks svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

#fireworks-wrapper {
    display: none;
}

#fullscreen {
    cursor: pointer;
}

#fullscreen:hover {
    text-decoration: underline;
}