
/* level 0 */

#qr-scanner {
	position: relative;
}

#line-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

/* level 1 */

#bbb-frame {
	width: 100%;
	height: 80vh;
}

#page {
	margin-top: 50px;
}

#vimeo-wrapper {
	height: 100vh !important;
}