body {
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    background-attachment: fixed;
    font-weight: 400;
}

h2 {
    font-family: neue-haas-grotesk-display;
    font-weight: 400;
}

.btn-circle {
    border-radius: 50%;
}

#help-toggle {
    position: fixed;
    bottom: 5vh;
    left: 5vh;
}

#help {
    height: 100vh;
    width: 20vw;
    position: fixed;
    left: -20vw;
    top: 0;
}

#help-close {
    width: 5vw;
    cursor: pointer;
}

/* level 0 */

#qr-scanner {
    position: relative;
}

#line-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

/* level 1 */

#bbb-frame {
    width: 100%;
}

.frame-1 {
    height: 80vh;
}

.frame-2 {
    height: 100vh;
}

#page {
    margin-top: 50px;
}

#vimeo-wrapper,
#vimeo-wrapper-2 {
    height: 100vh !important;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
}

#vimeo-wrapper-wrapper,
#vimeo-wrapper-wrapper-2 {
    display: none;
}