<div id="message">
    Bitte erlauben Sie der Website nun Ihre Kamera zu benutzen. Halten Sie den ausgefüllten QR-Code in die Kamera. Er sollte innerhalb des grünen Rahmens zu sehen sein.<br><br>
    Sollte das Scannen nicht klappen oder Sie sowieso nur eine 0815-Beerdigung wünschen, klicken sie einfach auf den Button unter dem Kamerabild.
</div>
<div id="responseMessage"></div>
</div>
<div id="qr-scanner" class="mt-3">
    <div>
        <video id="qr-video" width="100%"></video>
        <canvas id="line-canvas"></canvas>
    </div>
</div>
<div><button id="null815" class="btn btn-primary mb-2 ">0815 Beerdigung</button></div>
<!--<div>
    <form id="check-in" class="form-inline">
        <label class="sr-only" for="ticket-id">Ticket-ID</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="ticket-id" placeholder="Ticket-ID">
        <button type="submit" class="btn btn-primary mb-2">Check In</button>
    </form>
</div>-->