<div id="vimeo-wrapper-wrapper">
    <div id="vimeo-wrapper" class="h-100">
        <div id="player"></div>
    </div>
</div>
<div id="cover">
    <div id="cover-image"></div>
</div>
<div id="hide-pip"></div>
<div id="fireworks-wrapper">
    <div id="fireworks" class="centered d-flex align-items-center flex-column">
        <div>
            <h2>Herzlichen Glückwunsch. Ihre Beerdigung hat</h2>
        </div>
        <div id="sum" class="align-self-start">
            <svg viewBox="0 0 600 300">
                <!-- Symbol-->
                <symbol id="s-text"><text id="sum-text" text-anchor="middle" x="50%" y="50%" dy=".35em">50.000€</text></symbol><!-- Duplicate symbols-->
                <use class="text" xlink:href="#s-text"></use>
                <use class="text" xlink:href="#s-text"></use>
                <use class="text" xlink:href="#s-text"></use>
                <use class="text" xlink:href="#s-text"></use>
                <use class="text" xlink:href="#s-text"></use>
            </svg>
        </div>
        <div class="mt-auto">
            <h2>gekostet.</h2>
        </div>
    </div>
</div>