<div id="message">
    <p>
        Geschafft. Sie sind wieder im Hier und Jetzt angekommen.
        <br><br>
        Dies hier ist ein Link zu einem Live-Raum. Dort haben Sie die einmalige Gelegenheit der Trauerrednerin Pia Blome Drees und der Bestatterin Claudia Jäckel Fragen rund um das Thema Bestattung zu stellen.<br><br>
        Falls Sie, aus welchen Gründen auch immer, nicht mehr auf diesen Link klicken können oder möchten:<br><br>
		<b>Vielen Dank, dass Sie da waren. Einen schönen Abend noch.</b><br><br>
		Falls Sie gern beitreten möchten, aber noch nie Zoom verwendet haben, ...
    </p>
    <a href="https://zoom.us/j/94504489650?pwd=RUNqejJ3ZzZ4MWFzeERpWi9sWUNKdz09">
    	<button id="goToZoom" class="btn btn-primary mb-2 ">Zum Live-Raum</button>
    </a>
</div>