<div id="message">
    <p>
        Geschafft. Sie sind wieder im Hier und Jetzt angekommen.<br><br>
        Jetzt können Sie sich entscheiden, ob Sie am  Online-Leichenschmaus mit Pia Blome-Drees (Trauerrednerin) und Claudia Jäckel (Bestatterin) teilnehmen möchten. Dort haben Sie die einmalige Gelegenheit den beiden Expertinnen Fragen zum Thema Bestattung zu stellen. Legen Sie dazu bitte Ihr Käseküchlein aus dem Paket oder einen Snack oder Drink ihrer Wahl bereit.<br><br>
        Über den türkisenen Button, werden Sie in einen Live-Raum (Zoomkonferenz) geleitet.<br><br>
        Allen, die nicht mehr mitkommen können oder möchten, wünschen wir noch einen wunderschönen Abend. Danke, dass Sie da waren.
    </p>
    <a href="https://us02web.zoom.us/j/83597052517">
        <button id="goToZoom" class="btn btn-primary mb-2 ">Zum Live-Raum</button>
    </a>
</div>